* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    h4 {
        text-align: center;
        font-size: 35px;
    }
    p {
        text-align: justify;
        font-size: 20px;
        padding: 0 20px ;
    }
}
.options {
    margin: 30px 0;
    padding: 0;
   

    button {
        margin-right: 15px ;
        padding: 0;
        
        background-color: transparent;
        img {
            width: auto;
            height : 150px;
           
        }   
    }
}
.options button:hover {
    background-color: rgba(20, 189, 20, 0.6);

}

.title {
    font-size: 50px;
    letter-spacing: 2px;
    padding: 50px 0;
    text-align: center;
}
.rules {
        padding: 10px 0;
        
}
#messages {
    display: none;
}